/* General */
html, body{
	height: 100%;
}

/* Map */
#map{
	height: calc(100% - 56px);
	top: 56px;
	right: 0;
	position: absolute;
	left: 0px;
}


/* Aside */
aside{
	width: 300px;
	background: red;
}

.sidebar{
	left: 0;
	bottom: 0;
	top: 56px;
	position: fixed;
	z-index: 1000;
	-webkit-transition: left 1s; /* Safari */
  	transition: left 1s;
  	padding: 10px;
}

.hiddenSidebar{
	left: -300px;
}


button {
    outline: 0 !important; /* Fix an issue when button focus gets stuck with some browsers */
}

/* Media Query */
@media screen and (min-width: 900px) {
	#map{
		left: 300px;
	}

	#sidebarButton{
		visibility: hidden;
	}

	.hiddenSidebar{
	left: 0px;
	}
}